
						@media print {
							#left-side {
								display:none;
							}

							#main-header {
								display:none;
							}
							#main-footer {
								display:none;
							}
						}

						div#secure-upload-page {
    						display: flex;
    						flex-direction: row;
							min-height:400px;
							font-family: 'Roboto',sans-serif;
						}
						div#left-side {
 						   flex-basis: 35%;
						}

            .width-auto {
                width:auto !important;
            }

						.width-auto-desktop {
							width:auto !important;
						}

						@media only screen and (max-width: 768px) {
							.width-auto-desktop {
								width:250px !important;
							}
						}
						@media only screen and (max-width: 768px) {
							div#secure-upload-page {
    							flex-direction:column;
							}

							div#left-side {
 						   		flex-basis: 100%;
							}

						}

					#secure-upload-page select {
					    padding: 10px;
					    border-top-right-radius: 7px;
					    border-bottom-right-radius: 7px;
					}

					#secure-upload-page .hide {
						display:none;
					}

					button#new-party:before {
						content: "+";
						font-size: 2em;
						position: relative;
						top: 3px;
						left: -5px;
					}

					@media only screen and (max-width: 768px) {
							select.states {
								width:250px;
							}
					}

						form#direct-deposit {
    						width: 75%;
    						transform: translateX(10%);
						}

						button {
							padding: 5px 10px;
							display: inline-block;
							padding: 0.7em 1.7em;
							margin: 0 0.3em 0.3em 0;
							border-radius: 7px;
							box-sizing: border-box;
							text-decoration: none;
							font-weight: 400;
							color: #47a9aa;
							background-color: white;
							box-shadow: inset 0 -0.6em 1em -0.35em rgba(0,0,0,0.17), inset 0 0.6em 2em -0.3em rgba(255,255,255,0.15), inset 0 0 0em 0.05em rgba(255,255,255,0.12);
							text-align: center;
							position: relative;
							border: 1px solid #47a9aa;
						}

						button:hover {
							background: #47a9aa;
							color:white;
							cursor:pointer;
						}

						div.row input {
							border-top-right-radius:7px;
							border-bottom-right-radius:7px;
							padding:11px 10px 9px 10px;
						}
						div.row label {
							background: #47a9aa;
							width: 160px;
							display: inline-block;
							color: white;
							padding: 5px 10px;
							border-top-left-radius: 7px;
							border-bottom-left-radius: 7px;
						}

						div.mobile-block {
							display:inline;
						}

						@media only screen and (max-width: 768px) {
							.row.form-group.checkbox {
								border: 1px solid #ccc;
								width: 250px;
							}
						}

						@media only screen and (max-width: 768px) {
							div.mobile-block {
								display:block;
							}
						}

						@media only screen and (max-width: 768px) {
							div.row label {
								border-bottom-left-radius: 0;
								border-bottom-right-radius: 0;
								border-top-right-radius: 7px;
								width: 250px;
							}
							div.row input[type="text"], div.row input[type="date"], div.row input[type="email"], div.row input[type="password"]  {
								border-top-right-radius:0;
								width:250px !important;
							}
						}

						.pristine-error {
    						min-height: 1em;
							color:red;
							display:inline-block;
							font-family: 'dashicons';
							font-weight:bold;
							margin-bottom:7px;
						}

						.pristine-error:before {
							content: "\f153";
							font-size:2em;
							top: 10px;
    						position: relative;
							margin-right:5px;
						}

						.has-danger input {
    						border: 1px solid red;
    						background: #eee;
						}

						.has-danger label {
    						border: 1px solid red;
						}

						.row {
 						   margin: 10px 0;
						}

						input#file {
    						border: 1px solid #aaa;
    						padding: 7px;
    						transform: translateY(-1px);
							width:100px;
							cursor:pointer;
						}
						span.file-info {
							display:block;

						}

						div#left-side li {
							list-style-type: none;
							font-family:dashicons;
							color:#47a9aa;
							font-size:1.2em;
							text-transform:capitalize;
							line-height:1.7;
						}

						div#left-side li:hover {
							text-decoration:underline;
							cursor: pointer;
						}
						div#left-side li:before {
							content: "\f190";
						}
